body{
	background-color: var(--primary-light-color);
}
ul{
	color: var(--secondary-light-color);
}
.header {
	color: var(--secondary-light-color);
	border-bottom-color: #CCD1D9;
	border-top-color: #CCD1D9;
}
:root {
	--backup-color-black: var(--backup-color-black);
	--backup-color-white: #FFF;
	--primary-light-color: #656D78;
	--primary-dark-color: #AAB2BD;
	--secondary-light-color: #F5F7FA;
	--secondary-dark-color: #E6E9ED;
	--third-dark-color: #434A54;
}

/*---- Navbar css ------------------------------------------*/
/*To reset nav-bar offset when scrolling*/
.navbar{
	background-color: var(--primary-light-color);
}
.navbar-default {
	border-top-color: var(--primary-dark-color);
	border-bottom-color: var(--primary-dark-color);
	background-color: var(--third-dark-color);
}
.navbar-default .navbar-brand {
	color: var(--backup-color-black);
	background-color: var(--primary-dark-color);
}
.navbar-default .navbar-brand:hover {
	color: var(--backup-color-black);
	background-color: var(--secondary-dark-color);
}
.navbar-default .navbar-nav li>a {
	color: var(--secondary-dark-color);
}
.navbar-default .navbar-nav li>a:hover, .navbar-default .navbar-nav li>a:focus, .navbar-default .navbar-nav li.active, .navbar-default .navbar-nav>.active>a {
	border-top-color: var(--secondary-dark-color);
	color: var(--secondary-dark-color);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: var(--third-dark-color);
	color: var(--secondary-dark-color);
}

/*---- Intro Image css -------------------------------------*/
#intro-image {
	background-color: var(--backup-color-black);
}

/*---- About css -------------------------------------------*/
#about {
	background-color: var(--third-dark-color);
	color: var(--secondary-dark-color);
}
.mini-link-logos .github-icon {
	background: url(../img/icons/github-night.png) no-repeat;
}
.mini-link-logos .linkedin-icon {
	background: url(../img/icons/linkedin-night.png) no-repeat;
}
.mini-link-logos .facebook-icon {
	background: url(../img/icons/facebook-night.png) no-repeat;
}
.mini-link-logos .mail-icon {
	background: url(../img/icons/mail-night.png) no-repeat;
}
.mini-link-logos .pdf-icon {
	background: url(../img/icons/pdf-night.png) no-repeat;
}
/*---- Skills css ------------------------------------------*/
#skills {
	background-color: var(--primary-light-color);
	color: var(--secondary-light-color);
}
/*svg elements*/
.chart-text {
	fill: var(--secondary-light-color);
}
.donut-ring {
	fill: var(--primary-light-color);
}

/*figure elements*/
/*top figure*/
.item-java {
	background-color: #CE4B99;
}
.item-html {
	background-color: #B1C94E;
}
.item-python {
	background-color: #377BBC;
}
.item-javascript {
	background-color: #FFB300;
}
.item-sql {
	background-color: #64FFDA;
}
.item-javaswing {
	background-color: #40C4FF;
}
.item-c {
	background-color: #5C6BC0;
}

/*bottom-left figure*/
.item-css {
	background-color: #D81B60;
}
.item-php {
	background-color: #3949AB;
}
.item-xml {
	background-color: #8E24AA;
}
.item-django {
	background-color: #1E88E5;
}
.item-macro {
	background-color: #5E35B1;
}
.item-ruby {
	background-color: #7CB342;
}

/*bottom-right figure*/
.item-jedit {
	background-color: #E57373;
}
.item-gedit {
	background-color: #4DD0E1;
}
.item-eiffels {
	background-color: #4DB6AC;
}
.item-androids {
	background-color: #FFF176;
}
.item-eclipse {
	background-color: #DCE775;
}
.item-sublime {
	background-color: #FF8A65;
}
.item-notepadpp {
	background-color: #90A4AE;
}

/* Adds borders for tabs 
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}*/

/*---- Experience css --------------------------------------*/
#experience {
	background-color: var(--third-dark-color);
	color: var(--secondary-light-color);
}

/*Timeline*/
/*The broken line before the ul*/
.box ul:before {
	border-color: var(--backup-color-white);
}

/*The boxed fill and border*/
.box ul li{
	background:rgba(0, 0, 0, 0.1);
  color:var(--backup-color-white);
}

/*The solid line before the ul*/
.box ul li > span{
	border-color: var(--backup-color-white);
}

/*The circular points before the ul
.box ul li > span:before,.box ul li > span:after {
  background:var(--backup-color-black); /*what color to fill the points with
  border-color: var(--backup-color-black);
}
*/
.box .time {
	background:rgba(256, 256, 256, 0.1);
  color:var(--backup-color-white);
}
.box .time span{
  color:var(--backup-color-white);
}

.box .time span:first-child {
	border-color: var(--secondary-dark-color);
	background-color: var(--third-dark-color);
}
.box .time span:last-child {
	border-color: var(--secondary-dark-color);
	background-color: var(--third-dark-color);
}

/*---- Linls css -------------------------------------------*/
#links {
	background-color: var(--primary-light-color);
	color: var(--secondary-light-color);
}