@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div {
	font-size: 16px;
}
ul{
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}
h2 {
	padding-bottom: 15px;
}
.header {
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 3px solid;
	border-bottom-width: 0;
	border-bottom-style: solid;
}

/*---- Intro Image -----------------------------------------*/
#intro-image{
	padding: 0;
}
#intro-image .page-header {
	margin: 58px 0 0 0;
	width: 100%;
	height: 429px;
	padding: 0;
	min-height: 100%;
	background: url(../img/intro-image.jpg) no-repeat center;
	background-color: #000;
}
.not-my-body {
	min-width: 240px;
	position: relative;
}

/*---- Navbar css ------------------------------------------*/
.title {
	vertical-align: middle;
}
.navbar {
	border-bottom-color: #4FC1E9;
}
.navbar .container-fluid{
	margin: 0 15px; /*top-down left-right*/
}
.navbar-default {
	border-top: 1px solid;
	border-bottom: 1px solid;
	text-transform: uppercase;
	font-family: Montserrat, Arial, sans-serif;
	min-height: 58px;
	min-width: 111px;
}
.navbar-header {
	margin-top: 3px;
	float: left;
}
/*brand styling*/
.navbar-default .navbar-brand {
	float: left;
	font-size: 15px;
	border-radius: 5px;
}
.navbar-default .navbar-collapse {
	font-size: 14px;
}
/*navbar button styling*/
.navbar-default .navbar-nav li>a {
	margin-left: 0;
	font-style: bold;
}
.navbar-default .navbar-nav li>a:hover, .navbar-default .navbar-nav li>a:focus, .navbar-default .navbar-nav li.active {
	border-top: 3px solid;
}
.navbar-default .navnar-toggle {
	float: right;
}

@media (max-width: 767px) {
	.navbar-header {
		float: none;
		width:auto;
	}
}
@media (max-width: 330px) {
	.navbar-default .navbar-brand {
		padding: 8px; 
		font-size: 12px;
	}
}
@media (max-width: 280px) {
	.navbar-default .navbar-brand .title {
		display: none;
	}
	.navbar-default .navbar-brand:after {
		content: "KAA";
		font-size: 15px;
	}
}

/*---- About css -------------------------------------------*/
#about {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
#about div {
	font-size: 18px;
}
.horizontal-list li {
	float: left;
}
.horizontal-list .description {
	padding: 20px 20px;
	width: 70%;
	text-align: left;
}
.vertical-list li {
	float: none;
}
/*dimension is same as icons*/
.mini-link-logos li {
	float: left;
	height: 32px;
	width: 32px;
	margin: 5px;
}
.mini-link-logos li div {
	width: 100%;
	height: 100%;
}

/*---- Skills css ------------------------------------------*/
#skills {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
#skills li {
	margin: 0 0 8px;
	padding-right: 10px;
	list-style: none;
	display: inline;
}
/*svg elements*/
.primary-figure-top .donut {
	height: 65%;
  width: 65%;
}
.secondary-figure-bottom-left .donut {
	height: 63%;
  width: 63%;
}
.secondary-figure-bottom-right .donut {
	height: 46%;
  width: 46%;
}
.chart-text {
	font: 16px/1.4em "Montserrat", Arial, sans-serif;
	-moz-transform: translateY(0.25em);
	-ms-transform: translateY(0.25em);
	-webkit-transform: translateY(0.25em);
	transform: translateY(0.25em);
}
.chart-head {
	font-size: 0.25em;
	line-height: 1;
	text-transform: uppercase;;
	text-anchor: middle;
	-moz-transform: translateY(-0.70em);
	-ms-transform: translateY(-0.70em);
	-webkit-transform: translateY(-0.70em);
	transform: translateY(-0.70em);
}
.chart-label {
	font-size: 0.15em;
	text-transform: uppercase;;
	text-anchor: middle;
	-moz-transform: translateY(-0.15em);
	-ms-transform: translateY(-0.15em);
	-webkit-transform: translateY(-0.15em);
	transform: translateY(-0.15em);
}
/*figure elements*/
figure {
	display: table-footer-group;
	justify-content: space-around;
	flex-direction: column;
	margin-left: -15px;
	margin-right: -15px;
}
.figure-content, .legend {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
	align-items: left;
	align-self: left;
}
.figure-content svg {
	position: relative;
}
.legend {
	min-width: calc(4/12);
}
.legend [class*="shape-"] {
	margin-right: 6px;
}
.legend-key-list {
	margin: 0;
	padding: 0;
}
.legend-key-list li {
	margin: 0 0 8px;
	padding-right: 10px;
	list-style: none;
	display: inline;
}
.inner-list li {
	margin: 0 0 8px;
	padding-right: 10px;
	list-style: none;
	display: block;
}
.shape-square {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	border-radius: 25%;
}

@media (min-width: 768px) {
	figure {
		flex-direction: row;
	}
}
@media (max-width: 768px) {
	#others {
    text-align: left;
  }
}
@media (max-width: 767px) and (min-width: 301px) {
	.primary-figure-top .donut {
		max-width: 365px;
		max-height: 365px;
		height: 75%;
	  width: 75%;
	  min-width: 253px;
	  min-height: 253px;
	}
	.secondary-figure-bottom-left .donut {
		max-width: 316px;
		max-height: 316px;
		height: 60%;
	  width: 60%;
	  min-width: 253px;
	  min-height: 253px;
	}
	.secondary-figure-bottom-right .donut {
		max-width: 316px;
		max-height: 316px;
		height: 60%;
	  width: 60%;
	  min-width: 253px;
	  min-height: 253px;
	}
}
@media (max-width: 300px) {
	.primary-figure-top .donut {
		height: 100%;
	  width: 100%;
	}
	.secondary-figure-bottom-left .donut {
		height: 80%;
	  width: 80%;
	}
	.secondary-figure-bottom-right .donut {
		height: 80%;
	  width: 80%;
	}
}

/*---- Experience css --------------------------------------*/
#experience {
	margin: 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
/*Timeline*/
.box{
	margin: 0;
  height: auto;
  padding-left: 45px; 
  padding-bottom: 70px;
}
.box ul{
  list-style-type: none;
  margin: 0;
  position: relative;
  transition: all 0.5s linear;
  top:0;
}
.box ul:last-of-type {
  top:80px;
}
/*The broken line before the ul*/
.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px dashed;
  position: absolute;
  top: none;
  left: calc(20% - 30px); /*=(margin-left - 30px)*/
}
/*The boxed fill, border, margin and padding*/
.box ul li{
  margin: 0px 20px 60px 20%; /*top right bottom left*/
  position: relative;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  line-height: 20px;
  width: 60%;
  min-width: 130px;
  left: 0px;
}
/*The solid line before the ul*/
.box ul li > span{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px solid;
  position: absolute;
  top:0;
  left: -20px;
}
.box ul li > span:before {
  top:-10px;
}
.box ul li > span:after {
  top:100%;
}
.box .title{
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
}
.box .info {
  text-align: left;
}
.box .name{
  margin-top: 10px;
  text-transform: capitalize;
  text-align: right;
  margin-right: 20px;
}
.box .time {
	font-size: 18px;
	padding: 2px;
  border-radius: 10px;
  line-height: 20px;
}
.box .time span{
  position: absolute;
  left: -100px;
  font-size:80%;
  font-weight: bold;
}
.box .time span:first-child {
	border: 1px solid;
	border-radius: 10%;
  top:-25px;
  left: -90px;
  padding: 3px;
}
.box .time span:last-child {
	border: 1px solid;
	border-radius: 10%;
  top: 100%;
  left: -90px;
  padding: 3px;
}

/*---- Linls css -------------------------------------------*/
#links {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}